.tx-center {
  text-align: center;
}

.tx-no-underline {
  text-decoration: none;
}

.tx-bold {
  font-weight: bold;
}

.tx-normal {
  font-weight: normal;
}

.tx-title {
  font-family: sans-serif;
  text-transform: uppercase;
  color: $blue;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 1.2;
}
